<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Currency List</title>
</head>
<body>
  <h1>List of Available Currencies</h1>
  <ul>
    <% @symbols.each do |symbol| %>
      <li><%= symbol %></li>
    <% end %>
  </ul>
</body>
</html>
