<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Exchange Rates</title>
</head>
<body>
  <h1>Currency pairs</h1>

  <ul>
    <% @symbols.each do |symbol| %>
      <li>
        <%= symbol %> - <a href="/<%= symbol %>">Conversion Options</a>
      </li>
    <% end %>
  </ul>
</body>
</html>
